@charset "UTF-8";


        body{
            background-color: rgb(231, 173, 15);
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
        }
        h1{
            color: rgb(3, 3, 3);
            background-color: rgb(26, 221, 221);
        }
        h2{
            color: rgb(20, 3, 3);
        }
        
        p{
            text-align: justify;
        }
    